@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.accent-text {
  color: #63d1bb;
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  text-transform: uppercase;
}
.description-text {
  color: #444444;
  font-size: 17px;
  line-height: 30px;
}
.minor__title {
  color: #000000;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}
.form-accent {
  color: #63d1bb;
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 62px;
  top: 20px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.control-label {
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
}
.control-mark {
  position: absolute;
  left: 0;
  top: 1px;
  box-sizing: border-box;
  width: 52px;
  height: 52px;
  background-color: inherit;
  border: 3px solid #444444;
}
.control-mark--radio {
  border-radius: 50%;
}
.control-input {
  box-sizing: border-box;
  height: 52px;
  width: 100%;
  padding-left: 17px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: none;
  border-bottom: 3px solid #444444;
  font-size: 19px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  background-color: inherit;
}
.control-input--textarea {
  height: 142px;
  border: 3px solid #444444;
  resize: none;
  margin-bottom: 25px;
}
.page-body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
}
.wrapper {
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
}
.site-header {
  position: relative;
  background-color: #ffffff;
}
.site-header__navigation {
  margin: 0;
}
.site-header__logo {
  position: absolute;
  top: 9px;
  left: 50%;
  transform: translate(-50%, 0);
}
.site-footer {
  background-color: #f1f1f1;
}
.site-footer__wrapper {
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 51px;
  padding-bottom: 58px;
}
.starting-section {
  background-color: #f9f9f9;
  background-image: url("../../img/zigzag.svg");
  background-position: bottom center;
  background-repeat: repeat-x;
}
.starting-section--catalog {
  background-color: #f1f1f1;
  margin-bottom: 111px;
}
.starting-section--form {
  background-color: #f1f1f1;
  margin-bottom: 99px;
}
.starting-section__wrapper {
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
}
.starting-section__title {
  margin: 0;
}
.navigation {
  padding: 0;
}
.navigation__wrapper {
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
.navigation__list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
}
.navigation__item {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 35px;
  padding-left: 35px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.navigation__item:first-child {
  padding-left: 0;
}
.navigation__item:last-child {
  padding-right: 0;
  border-right: none;
}
.navigation__link {
  display: block;
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  line-height: 24px;
  font-size: 17px;
}
.navigation__cart-filled {
  margin-left: 32px;
}
.sub-navigation {
  padding-top: 19px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.sub-navigation--index {
  background-color: #f9f9f9;
}
.sub-navigation--catalog,
.sub-navigation--form {
  background-color: #f1f1f1;
}
.sub-navigation__wrapper {
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
.sub-navigation__list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
}
.sub-navigation__item {
  min-width: 167px;
}
.sub-navigation__link {
  text-decoration: none;
  color: #000000;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
}
.sub-navigation__delivery {
  display: block;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #444444;
}
.greetings {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}
.greetings::before {
  position: absolute;
  width: 1050px;
  height: 34px;
  bottom: 0;
  content: "";
  background-image: url("../img/zigzag.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.greetings__item {
  box-sizing: border-box;
}
.greetings__item--toy-house {
  width: 100%;
  padding-top: 114px;
  padding-bottom: 355px;
  text-align: center;
  background: url("../img/hero-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.greetings__item--lamp {
  width: 50%;
  padding: 25px 350px 51px 37px;
  background: url("../img/lamp.svg");
  background-color: #62d1ba;
  background-repeat: no-repeat;
  background-position: top 30px right 36px;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 700;
}
.greetings__item--lego {
  width: 50%;
  padding: 25px 350px 51px 37px;
  background: url("../img/lego.svg");
  background-color: #56c3b2;
  background-repeat: no-repeat;
  background-position: top 30px right 36px;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 700;
}
.greetings__title {
  max-width: 660px;
  margin: 0 auto;
}
.weekly__wrapper {
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: 54px;
  padding-bottom: 96px;
  background-image: url("../../img/zigzag-grey.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}
.weekly__type {
  box-sizing: border-box;
  padding-top: 69px;
  padding-left: 32px;
  padding-right: 43px;
  text-align: center;
  display: block;
  width: 175px;
}
.weekly__product-card {
  padding-top: 153px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 292px;
  margin-right: auto;
}
.weekly__title {
  position: absolute;
  left: 0;
  top: 61px;
  margin: 0;
  margin-right: -300px;
}
.weekly__description {
  margin: 0;
  margin-bottom: 60px;
}
.weekly__params {
  margin-bottom: auto;
  font-size: 15px;
  line-height: 20px;
}
.weekly__params td {
  padding: 0;
  padding-top: 3px;
  padding-bottom: 14px;
  border-bottom: 1px solid #ececec;
}
.weekly__params-type {
  width: 97px;
}
.weekly__price {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}
.weekly__button {
  margin-top: 33px;
}
.weekly__product-image {
  width: 525px;
}
.button {
  box-sizing: border-box;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 3px solid #444444;
  color: #444444;
}
.advantages__wrapper {
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 68px;
  padding-left: 175px;
  padding-bottom: 90px;
}
.advantages__title {
  margin: 0;
  margin-bottom: 95px;
}
.advantages__list {
  width: 700px;
  display: flex;
  row-gap: 111px;
  column-gap: 20px;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  list-style-type: none;
}
.advantages__item {
  position: relative;
  flex-direction: column;
  width: 330px;
}
.advantages__icon {
  display: flex;
  align-items: center;
  width: 55px;
  height: 55px;
  position: absolute;
  bottom: 68px;
}
.advantages__description {
  margin: 0;
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
}
.reviews__wrapper {
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  display: grid;
  position: relative;
  grid-template-columns: 250px 1fr 175px;
  padding: 78px 0 186px 174px;
  background-image: url("../img/review-bg.png");
  background-repeat: no-repeat;
  background-position: top left;
}
.reviews__wrapper::before {
  position: absolute;
  content: "";
  width: 1050px;
  height: 300px;
  top: 524px;
  background: url("../img/zigzag-grey.svg");
  background-repeat: no-repeat;
}
.reviews__title {
  grid-column: 1/2;
  margin: 0;
}
.reviews__button {
  grid-column: 3/4;
}
.reviews__review {
  grid-column: 1/-1;
  margin-top: 30px;
  margin-bottom: 44px;
}
.reviews__author {
  grid-column: 1/2;
  margin: 0;
}
.reviews__controls {
  grid-column: 3/4;
  display: flex;
}
.reviews__arrow-button {
  width: 50px;
  height: 26px;
  padding: 0;
  border: none;
  background-color: inherit;
}
.reviews__arrow-button:first-child {
  margin-left: auto;
  margin-right: 37px;
}
.reviews__arrow-button:last-child {
  margin-right: 19px;
}
.contacts__wrapper {
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 71px;
  padding-bottom: 105px;
  display: flex;
}
.contacts__contacts {
  position: relative;
  min-width: 327px;
  padding-top: 79px;
  margin-left: auto;
  margin-right: 23px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.contacts__icon {
  position: absolute;
  left: -111px;
  top: 62px;
}
.contacts__title {
  margin: 0;
  margin-bottom: 34px;
}
.contacts__data {
  color: #444444;
  font-size: 17px;
  line-height: 30px;
  display: grid;
  column-gap: 26px;
  row-gap: 14px;
  grid-template-columns: 54px 1fr;
  margin-bottom: auto;
}
.contacts__item {
  margin: 0;
}
.contacts__button {
  padding-left: 38px;
  padding-right: 38px;
  text-decoration: none;
}
.contacts__map {
  width: 527px;
  height: 457px;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: top left;
}
.products {
  margin-bottom: 57px;
}
.products__wrapper {
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
}
.products__list {
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.products__item {
  box-sizing: border-box;
  width: 316px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ececec;
}
.products__image-wrapper {
  width: 314px;
  height: 462px;
}
.products__description {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 27px 27px 25px 27px;
}
.products__title {
  display: block;
  margin-bottom: 6px;
}
.products__params {
  display: block;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  margin-bottom: auto;
}
.products__controls {
  margin: 0;
  padding-top: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ececec;
}
.products__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}
.busket-button {
  padding: 0;
  width: 21px;
  height: 18px;
  background-color: inherit;
  border: none;
  text-align: center;
}
.presentation {
  margin-bottom: 105px;
}
.presentation__wrapper {
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.presentation__video {
  position: relative;
  width: 682px;
  margin-right: auto;
}
.video-button {
  padding: 0;
  width: 101px;
  height: 77px;
  position: absolute;
  background-color: transparent;
  border: none;
  text-align: center;
  left: 299px;
  top: 190px;
}
.presentation__description {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 289px;
  padding: 47px 58px 60px 0;
  background-image: url("../../img/videocamera.svg");
  background-repeat: no-repeat;
  background-position: left top 47px;
}
.presentation__title {
  display: block;
  margin-top: 49px;
  margin-bottom: 27px;
}
.presentation__text {
  display: block;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  margin-top: 0;
  margin-bottom: auto;
}
.form__wrapper {
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  row-gap: 24px;
  box-sizing: border-box;
  padding-left: 174px;
  padding-right: 225px;
}
.form__wrapper--no-padding {
  padding-right: 0;
}
.form__wrapper--column {
  flex-direction: column;
  align-items: start;
}
.form__wrapper--grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.form__category {
  border: none;
  padding-top: 50px;
  padding-bottom: 50px;
}
.form__category:nth-child(odd) {
  background-color: #f1f1f1;
}
.form__list {
  display: flex;
  width: 100%;
  padding: 0;
}
.form__item {
  position: relative;
  height: 52px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding-left: 82px;
}
.form__item--text-input {
  padding-left: 0;
}
.form__description {
  margin: 0;
  margin-bottom: 62px;
}
.form__controls {
  display: flex;
  justify-content: space-between;
}
.fieldset {
  border: none;
  margin: 0;
  padding: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}
.fieldset--top {
  padding-bottom: 0;
}
.fieldset--fieldset--bottom {
  padding-top: 0;
}
.standart-content {
  padding-top: 57px;
  padding-bottom: 100px;
  text-align: center;
}
.socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 142px;
}
.socials__item {
  text-decoration: none;
}
.copyright {
  display: flex;
  align-items: center;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
}
.copyright__link {
  margin-left: 28px;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */
