@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.title {
  font-size: 53px;
  line-height: 57px;
}
.accent-text {
  color: #63d1bb;
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  text-transform: uppercase;
}
.description-text {
  color: #444444;
  font-size: 17px;
  line-height: 30px;
}
.minor__title {
  color: #000000;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.wrapper {
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
}
.site-header {
  background-color: #ffffff;
}
.site-header__navigation {
  margin: 0;
  padding: 0;
}
.site-footer {
  background-color: #f1f1f1;
}
.site-footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 51px;
  padding-bottom: 58px;
}
.socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 142px;
}
.socials__item {
  text-decoration: none;
}
.copyright {
  display: flex;
  align-items: center;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
}
.copyright__link {
  margin-left: 28px;
  text-decoration: none;
}
.starting-section {
  background-color: #f9f9f9;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.starting-section--catalog {
  background-color: #f1f1f1;
  background-image: url("../../img/zigzag.svg");
  background-position: bottom center;
  background-repeat: repeat-x;
  margin-bottom: 111px;
}
.starting-section--form {
  background-color: #f1f1f1;
  background-image: url("../../img/zigzag.svg");
  background-position: bottom center;
  background-repeat: repeat-x;
  margin-bottom: 99px;
}
.standart-content {
  padding-top: 57px;
  padding-bottom: 100px;
  text-align: center;
}
.starting-section__title {
  margin: 0;
}
.section-header {
  background-color: #f9f9f9;
}
.section-header__navigation {
  display: flex;
  justify-content: space-between;
}
.section-header__navigation-item {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding-top: 19px;
}
.section-header__navigation-link {
  margin-right: 45px;
  text-decoration: none;
  color: #000000;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
}
.section-header__navigation-link:last-child {
  margin-right: 0;
}
.navigation {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.navigation__list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
}
.navigation__item {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 35px;
  padding-left: 35px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.navigation__item:first-child {
  padding-left: 0;
}
.navigation__item:last-child {
  border-right: none;
}
.navigation__item--logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navigation__link {
  display: block;
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  line-height: 24px;
  font-size: 17px;
}
.greetings {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}
.greetings::before {
  position: absolute;
  width: 1050px;
  height: 34px;
  bottom: 0;
  content: "";
  background-image: url("../../img/zigzag.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.greetings__item {
  box-sizing: border-box;
}
.greetings__item--toy-house {
  width: 100%;
  padding-top: 114px;
  padding-bottom: 355px;
  text-align: center;
  background: url("../../img/hero-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.greetings__item--lamp {
  width: 50%;
  padding: 25px 350px 51px 37px;
  background: url("../../img/lamp.svg");
  background-color: #62d1ba;
  background-repeat: no-repeat;
  background-position: top 30px right 36px;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 700;
}
.greetings__item--lego {
  width: 50%;
  padding: 25px 350px 51px 37px;
  background: url("../../img/lego.svg");
  background-color: #56c3b2;
  background-repeat: no-repeat;
  background-position: top 30px right 36px;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 700;
}
.weekly__wrapper {
  display: flex;
  margin-top: 54px;
  padding-bottom: 96px;
  background-image: url("../../img/zigzag-grey.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}
.weekly__type {
  box-sizing: border-box;
  padding-top: 69px;
  padding-left: 32px;
  padding-right: 43px;
  text-align: center;
  display: block;
  width: 175px;
}
.weekly__product-card {
  padding-top: 153px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 292px;
  margin-right: auto;
}
.weekly__title {
  position: absolute;
  left: 0;
  top: 61px;
  margin: 0;
  margin-right: -300px;
}
.weekly__description {
  margin: 0;
  margin-bottom: 60px;
}
.weekly__params {
  margin-bottom: auto;
  font-size: 15px;
  line-height: 20px;
}
.weekly__params td {
  padding: 0;
  padding-top: 3px;
  padding-bottom: 14px;
  border-bottom: 1px solid #ececec;
}
.weekly__params-type {
  width: 97px;
}
.weekly__price {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}
.weekly__button {
  margin-top: 33px;
}
.weekly__product-image {
  width: 525px;
}
.button {
  box-sizing: border-box;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 3px solid #444444;
  color: #444444;
}
.advantages__wrapper {
  padding-top: 68px;
  padding-left: 175px;
  padding-bottom: 90px;
  padding-right: auto;
}
.advantages__title {
  margin: 0;
  margin-bottom: 95px;
}
.advantages__list {
  width: 700px;
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  list-style-type: none;
}
.advantages__item {
  position: relative;
  flex-direction: column;
  width: 350px;
  margin-bottom: 111px;
}
.advantages__item:nth-last-child(-n+2) {
  margin-bottom: 0;
}
.advantages__icon {
  position: absolute;
  top: -68px;
}
.advan__icon {
  display: list-item;
  list-style: none;
  width: 60px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: left bottom;
}
.advan__icon--flower {
  background-image: url("../../img/icon-flower.svg");
}
.advan__icon--price {
  background-image: url("../../img/icon-money.svg");
}
.advan__icon--like {
  background-image: url("../../img/icon-heart.svg");
}
.advan__icon--handmade {
  background-image: url("../../img/icon-ravel.svg");
}
.advan__icon--native {
  background-image: url("../../img/icon-rocket.svg");
}
.advan__icon--package {
  background-image: url("../../img/icon-present.svg");
}
.advantages__description {
  margin: 0;
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
}
.reviews__wrapper {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 250px 1fr 175px;
  padding: 78px 0 186px 174px;
  background-image: url("../../img/review-bg.png"), url("../../img/zigzag-grey.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom center;
}
.reviews__title {
  grid-column: 1/2;
  margin: 0;
}
.reviews__button {
  grid-column: 3/4;
}
.reviews__review {
  grid-column: 1/-1;
  margin-top: 30px;
  margin-bottom: 44px;
}
.reviews__author {
  grid-column: 1/2;
  margin: 0;
}
.reviews__controls {
  grid-column: 3/4;
  display: flex;
}
.reviews__arrow-button {
  width: 50px;
  height: 26px;
  padding: 0;
  border: none;
  background-color: inherit;
}
.reviews__arrow-button:first-child {
  margin-left: auto;
  margin-right: 37px;
}
.reviews__arrow-button:last-child {
  margin-right: 19px;
}
.contacts__wrapper {
  padding-top: 71px;
  padding-bottom: 105px;
  display: flex;
}
.contacts__icon {
  width: 174px;
  background-image: url("../../img/flag.svg");
  background-repeat: no-repeat;
  background-position: top 62px left 63px;
}
.contacts__contacts {
  padding-top: 79px;
  min-width: 300px;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.contacts__title {
  margin: 0;
  margin-bottom: 34px;
}
.contacts__table {
  margin-bottom: auto;
}
.contacts__button {
  padding-left: 38px;
  padding-right: 38px;
}
.contacts__map {
  position: relative;
  width: 527px;
  height: 457px;
  background-image: url("../../img/map-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: top left;
}
.contacts__map::after {
  position: absolute;
  content: "";
  width: 67px;
  height: 100px;
  background-image: url("../../img/map-pin.svg");
  background-repeat: no-repeat;
  background-position: center;
  left: 240px;
  top: 146px;
}
.products {
  margin-bottom: 57px;
}
.products__list {
  display: flex;
  justify-content: space-between;
}
.products__item {
  box-sizing: border-box;
  width: 316px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ececec;
}
.products__description {
  display: flex;
  flex-direction: column;
  padding: 27px 27px 25px 27px;
}
.products__title {
  display: block;
  margin-bottom: 6px;
}
.products__params {
  display: block;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  margin-bottom: 12px;
}
.products__controls {
  margin: 0;
  padding-top: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ececec;
}
.products__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}
.busket-button {
  padding: 0;
  width: 21px;
  height: 18px;
  background-color: inherit;
  border: none;
  text-align: center;
}
.presentation {
  margin-bottom: 105px;
}
.presentation__wrapper {
  display: flex;
}
.presentation__video {
  position: relative;
  width: 682px;
  margin-right: auto;
}
.video-button {
  padding: 0;
  width: 101px;
  height: 77px;
  position: absolute;
  background-color: transparent;
  border: none;
  text-align: center;
  left: 299px;
  top: 190px;
}
.presentation__description {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 289px;
  padding: 47px 58px 60px 0;
  background-image: url("../../img/videocamera.svg");
  background-repeat: no-repeat;
  background-position: left top 47px;
}
.presentation__title {
  display: block;
  margin-top: 49px;
  margin-bottom: 27px;
}
.presentation__text {
  display: block;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  margin-top: 0;
  margin-bottom: auto;
}
.form__wrapper {
  position: relative;
  box-sizing: border-box;
  padding-left: 174px;
  padding-right: 225px;
}
.form__wrapper--no-padding {
  padding-right: 0;
}
.form__fieldset:nth-child(odd) {
  background-color: #f1f1f1;
}
.form__description {
  margin: 0;
  margin-bottom: 62px;
}
.form__legend {
  position: absolute;
  left: 62px;
  color: #63d1bb;
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  text-transform: uppercase;
}
.form__controls {
  display: flex;
  justify-content: space-between;
}
.fieldset {
  border: none;
  margin: 0;
  padding: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}
.fieldset--top {
  padding-bottom: 0;
}
.fieldset--fieldset--bottom {
  padding-top: 0;
}
.control {
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
}
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
}
/*# sourceMappingURL=style.css.map */
