.categories {
  display: block;
  position: static;

  @media (min-width: @width-tablet) {
    .wrapper;
  }
}

.categories__list {
  position: static;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: @width-tablet) {
    flex-direction: row;
  }
}

.categories__item {
  position: relative;
  padding-top: 24px;
  padding-bottom: 31px;

  &:nth-child(odd) {
    background-color: #63d1bb;
  }

  &:nth-child(even) {
    background-color: #56c3b2;
  }

  &--lamp {
    &::before {
      position: absolute;
      top: 23px;
      right: 35px;
      content: "";
      width: 40px;
      height: 62px;
      background-image: url("../../img/lamp.svg");
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0.5;
    }
  }

  &--lego {
    &::before {
      position: absolute;
      top: 23px;
      right: 35px;
      content: "";
      width: 60px;
      height: 62px;
      background-image: url("../../img/lego.svg");
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0.5;
    }
  }

  &:hover {
    &::before {
      opacity: 0.7;
    }
  }

  &:active {
    &::before {
      opacity: 0.3;
    }
  }

  @media (min-width: @width-tablet) {
    width: 50%;
    padding-bottom: 46px;
  }

  @media (min-width: @width-desktop) {
    padding-bottom: 51px;
  }
}

.categories__title {
  display: block;
  max-width: 130px;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}
