.contacts__wrapper {
  .wrapper;
  padding-top: 71px;
  padding-bottom: 105px;
  display: flex;
}

.contacts__contacts {
  position: relative;
  min-width: 327px;
  padding-top: 79px;
  margin-left: auto;
  margin-right: 23px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.contacts__icon {
  position: absolute;
  left: -111px;
  top: 62px;
}

.contacts__title {
  margin: 0;
  margin-bottom: 34px;
}

.contacts__data {
  .description-text;
  display: grid;
  column-gap: 26px;
  row-gap: 14px;
  grid-template-columns: 54px 1fr;
  margin-bottom: auto;
}

.contacts__item {
  margin: 0;
}

.contacts__button {
  padding-left: 38px;
  padding-right: 38px;
  text-decoration: none;
}

.contacts__map {
  width: 527px;
  height: 457px;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: top left;
}

