.entry-section {
  padding-top: 73px;
  padding-bottom: 73px;
  background-color: #f1f1f1;

  &--index {
    background-color: #ffffff;
    background-image: url("../img/hero-mobile.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }
}

.entry-section__wrapper {
  .wrapper;
}

.entry-section__title {
  margin: 0 auto;
  max-width: 260px;
  text-align: center;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
}
