.form__wrapper {
  position: relative;
  box-sizing: border-box;
  padding-left: 174px;
  padding-right: 225px;

  &--no-padding {
    padding-right: 0;
  }
}

.form__fieldset:nth-child(odd) {
  background-color: @bg-secondary;
}

.form__description {
  margin: 0;
  margin-bottom: 62px;
}

.form__legend {
  position: absolute;
  left: 62px;
  .accent-text;
}

.form__controls {
  display: flex;
  justify-content: space-between;
}
