.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 55px;
}

.form__description {
  .wrapper;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #444444;
  margin-bottom: 37px;
  margin-top: 17px;

  @media (min-width: @width-desktop) {
    padding-left: 225px;
  }
}

.form__category {
  display: flex;
  flex-direction: column;
  padding-bottom: 43px;
  row-gap: 24px;

  @media (min-width: @width-tablet) {
    padding-top: 50px;
    padding-bottom: 50px;

    &:nth-child(odd) {
      background-color: #f1f1f1;
    }
  }
}

.form__category-wrapper {
  .wrapper;
  display: flex;
  flex-direction: column;
  border: none;

  @media (min-width: @width-tablet) {
    flex-direction: row;
  }
}

.form__category-content {
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  @media (min-width: @width-tablet) {
    flex-grow: 1;
    row-gap: 58px;
  }

  @media (min-width: @width-desktop) {
    padding-right: 175px;
  }

  &--transformed {
    @media (min-width: @width-tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: @width-desktop) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

.form__category-title {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-bottom: 35px;
  width: 100%;

  &[type="label"] {
    padding-bottom: 0;
  }

  &::after {
    flex-grow: 1;
    height: 1px;
    content: "";
    border-bottom: 1px solid #62d1ba;
  }

  @media (min-width: @width-tablet) {
    width: 167px;

    &::after {
      display: none;
    }
  }

  @media (min-width: @width-desktop) {
    width: 175px;
  }
}

.form__category-name {
  margin-right: 20px;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #62d1ba;

  @media (min-width: @width-tablet) {
    padding-top: 16px;
  }
}

.form__item {
  display: flex;
  flex-direction: column;

  @media (min-width: @width-tablet) {
    flex-direction: row;
    align-items: center;
    column-gap: 25px;
  }
}

.form__label {
  display: block;
  position: relative;
  padding-left: 61px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;

  &--no-padding {
    padding-left: 0;
  }

  @media (min-width: @width-tablet) {
    font-size: 18px;
    line-height: 19px;
  }
}

.form__input-wrapper {
  position: relative;
  display: flex;
  flex-grow: 1;

  @media (min-width: @width-desktop) {
    max-width: 700px;
  }

  &--phone {
    &::before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      content: "";
      width: 25px;
      height: 24px;
      mask-image: url("../../img/phone.svg");
      mask-position: bottom right;
      mask-repeat: no-repeat;
      background-color: #000000;
      opacity: 0.2;
    }
  }

  &--email {
    &::before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      content: "";
      width: 32px;
      height: 21px;
      mask-image: url("../../img/mail.svg");
      mask-position: bottom right;
      mask-repeat: no-repeat;
      background-color: #000000;
      opacity: 0.2;
    }
  }

  &:hover {
    &::before {
      background-color: #62d1ba;
      opacity: 1;
    }
  }
}

.form__input[type="checkbox"] {
  &:checked + .form__marker::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 23px;
    height: 16px;
    content: "";
    background-image: url("../img/tick-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: @width-tablet) {
      width: 32px;
      height: 22px;
      background-image: url("../img/tick.svg");
    }
  }
}

.form__input[type="radio"] {
  &:checked + .form__marker::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
    height: 18px;
    content: "";
    border-radius: 50%;
    background-color: #62d1ba;

    @media (min-width: @width-tablet) {
      width: 22px;
      height: 22px;
    }
  }
}

.form__marker {
  position: absolute;
  bottom: 50%;
  left: 0;
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  background-color: inherit;
  border: 2px solid #444444;
  transform: translateY(50%);

  &--radio {
    width: 42px;
    height: 42px;
    border-radius: 50%;
  }

  @media (min-width: @width-tablet) {
    width: 52px;
    height: 52px;
  }
}

.form__input-text {
  flex-grow: 1;
  padding-top: 17px;
  padding-bottom: 17px;
  border: none;
  border-bottom: 2px solid #000000;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  background-color: inherit;

  &--phone,
  &--mail {
    @media (min-width: @width-desktop) {
      width: 100%;
      max-width: 700px;
    }
  }
}

.form__input-textfield {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 17px;
  height: 142px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  resize: none;
  border: 2px solid #000000;

  @media (min-width: @width-desktop) {
    max-width: 700px;
  }
}

.form__controls {
  display: flex;
  flex-direction: column;

  @media (min-width: @width-tablet) {
    flex-direction: row;
    align-items: center;

    & .form__category-wrapper {
      justify-content: space-between;
      align-items: center;
    }
  }

  @media (min-width: @width-desktop) {
    & .form__category-wrapper {
      padding-left: 225px;
      padding-right: 225px;
    }
  }
}

.form__requirements {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  margin-bottom: 30px;

  @media (min-width: @width-tablet) {
    order: 2;
    margin-bottom: 0;
  }
}

.form__button {
  .button;

  @media (min-width: @width-tablet) {
    order: 1;
    width: 230px;
  }
}
