.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 55px;

  @media (min-width: @width-tablet) {
    margin-bottom: 50px;
  }
}

.form__description {
  .wrapper;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #444444;
  margin-bottom: 29px;
  margin-top: 17px;

  @media (min-width: @width-tablet) {
    margin-top: -13px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: @width-desktop) {
    padding-left: 225px;
    padding-right: 198px;
    margin-bottom: 26px;
  }
}

.form__category {
  display: flex;
  flex-direction: column;
  padding-bottom: 43px;
  row-gap: 24px;

  @media (min-width: @width-tablet) {
    padding-top: 50px;
    padding-bottom: 66px;

    &:nth-child(odd) {
      background-color: #f1f1f1;
    }
  }

  &--small-padding {
    padding-bottom: 34px;

    @media (min-width: @width-tablet) {
      padding-top: 46px;
      padding-bottom: 48px;
    }
  }

  &--big-gap {
    row-gap: 35px;

    @media (min-width: @width-tablet) {
      row-gap: 23px;
    }
  }

  &--last {
    padding-bottom: 17px;

    @media (min-width: @width-tablet) {
      padding-bottom: 53px;
    }

    @media (min-width: @width-desktop) {
      padding-bottom: 49px;
    }
  }

  &--color {
    @media (min-width: @width-tablet) {
      padding-top: 67px;
    }
  }

  &--email-phone {
    @media (min-width: @width-tablet) {
      row-gap: 18px;
    }
  }

  &--type {
    @media (min-width: @width-desktop) {
      padding-top: 55px;
      padding-bottom: 63px;
    }
  }
}

.form__category-wrapper {
  .wrapper;
  display: flex;
  flex-direction: column;
  border: none;

  @media (min-width: @width-tablet) {
    flex-direction: row;
  }
}

.form__category-content {
  display: flex;
  flex-direction: column;
  row-gap: 25px;

  @media (min-width: @width-tablet) {
    flex-grow: 1;
    row-gap: 58px;
  }

  @media (min-width: @width-desktop) {
    padding-right: 175px;
  }

  &--transformed {
    row-gap: 43px;

    @media (min-width: @width-tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 57px;
      column-gap: 22px;
    }

    @media (min-width: @width-desktop) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &--small-gap {
    row-gap: 20px;

    @media (min-width: @width-tablet) {
      row-gap: 18px;
    }
  }

  &--color {
    @media (min-width: @width-desktop) {
      padding-right: 88px;
      column-gap: 1px;
    }
  }
}

.form__category-title {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-bottom: 35px;
  width: 100%;

  &[type="label"] {
    padding-bottom: 0;
  }

  &::after {
    flex-grow: 1;
    height: 1px;
    content: "";
    border-bottom: 1px solid #62d1ba;
  }

  @media (min-width: @width-tablet) {
    width: 167px;
    align-items: start;

    &::after {
      display: none;
    }
  }

  @media (min-width: @width-desktop) {
    width: 175px;
  }

  &--small-padding {
    padding-bottom: 29px;
  }

  &--no-padding {
    padding-bottom: 2px;
  }

  &--addition {
    padding-bottom: 22px;
  }
}

.form__category-name {
  min-width: 41px;
  margin-right: 19px;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #62d1ba;

  @media (min-width: @width-tablet) {
    padding-top: 20px;

    &--no-padding {
      padding-top: 0;
    }
  }

  @media (min-width: @width-desktop) {
    padding-left: 61px;
  }
}

.form__item {
  display: flex;
  flex-direction: column;

  @media (min-width: @width-tablet) {
    flex-direction: row;
    align-items: center;
    column-gap: 25px;
  }
}

.form__label {
  display: block;
  position: relative;
  padding-left: 61px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;

  @media (min-width: @width-tablet) {
    padding-left: 81px;
    font-size: 18px;
    line-height: 19px;
    letter-spacing: 0.6px;
  }

  &--no-padding {
    padding-left: 0;

    @media (min-width: @width-tablet) {
      padding-left: 0;
    }
  }
}

.form__input-wrapper {
  position: relative;
  display: flex;
  flex-grow: 1;

  @media (min-width: @width-desktop) {
    max-width: 700px;
  }

  .form__input-icon {
    position: absolute;
    top: 50%;
    right: 3px;
    transform: translateY(-50%);

    @media (min-width: @width-tablet) {
      top: calc(50% + 1px);
      right: 21px;
    }

    @media (min-width: @width-desktop) {
      top: calc(50% + 1px);
      right: 4px;
    }

    &--phone {
      top: calc(50% - 3px);
      right: 6px;

      @media (min-width: @width-tablet) {
        top: calc(50% - 2px);
        right: 25px;
      }

      @media (min-width: @width-desktop) {
        top: calc(50% + -2px);
        right: 8px;
      }
    }
  }
}

.form__input[type="checkbox"] {
  &:checked + .form__marker::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 23px;
    height: 16px;
    content: "";
    background-image: url("../img/tick-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: @width-tablet) {
      width: 32px;
      height: 22px;
      background-image: url("../img/tick.svg");
    }
  }
}

.form__input[type="radio"] {
  &:checked + .form__marker::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
    height: 18px;
    content: "";
    border-radius: 50%;
    background-color: #62d1ba;

    @media (min-width: @width-tablet) {
      width: 22px;
      height: 22px;
    }
  }
}

.form__marker {
  position: absolute;
  bottom: 50%;
  left: 0;
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  background-color: inherit;
  border: 2px solid #444444;
  transform: translateY(50%);

  &--radio {
    width: 40px;
    height: 40px;
    border-radius: 50%;

    @media (min-width: @width-tablet) {
      left: 3px;
    }
  }

  @media (min-width: @width-tablet) {
    width: 52px;
    height: 52px;

    &--radio {
      width: 50px;
      height: 50px;
      border: 3px solid #444444;
    }
  }

  &:hover {
    border: 2px solid #62d1ba;
  }

  &:active {
    border: 2px solid rgba(#444444, 0.3);
  }
}

.form__input-text {
  flex-grow: 1;
  padding-top: 17px;
  padding-bottom: 15px;
  margin-bottom: 2px;
  border: none;
  border-bottom: 2px solid #000000;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  background-color: inherit;

  @media (min-width: @width-tablet) {
    font-size: 19px;
    line-height: 18px;
    padding-left: 17px;
    letter-spacing: 0.6px;
  }

  &--phone {
    letter-spacing: -1px;
  }

  &--phone,
  &--mail {
    @media (min-width: @width-desktop) {
      width: 100%;
      max-width: 700px;
    }
  }

  &:hover + .form__input-icon,
  &:focus + .form__input-icon {
    color: #62d1ba;
    opacity: 1;
  }

  &:hover,
  &:active {
    border-bottom: 2px solid #62d1ba;
  }

  &::placeholder {
    color: rgba(#000000, 0.3);
  }
}

.form__input-textfield {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 17px;
  height: 142px;
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  resize: none;
  border: 2px solid #000000;

  @media (min-width: @width-tablet) {
    letter-spacing: 1.1px;
  }

  @media (min-width: @width-desktop) {
    max-width: 700px;
  }

  &::placeholder {
    color: rgba(#000000, 0.3);
  }
}

.form__controls {
  display: flex;
  flex-direction: column;

  @media (min-width: @width-tablet) {
    flex-direction: row;
    align-items: center;

    & .form__category-wrapper {
      justify-content: space-between;
      align-items: center;
    }
  }

  @media (min-width: @width-desktop) {
    & .form__category-wrapper {
      padding-left: 225px;
      padding-right: 225px;
    }
  }
}

.form__requirements {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  margin-bottom: 30px;

  @media (min-width: @width-tablet) {
    order: 2;
    margin-bottom: 0;
    font-size: 17px;
    line-height: 30px;
  }
}

.form__button {
  .button;
  padding-top: 17px;
  padding-bottom: 12px;
  letter-spacing: -0.6px;

  @media (min-width: @width-tablet) {
    order: 1;
    width: 230px;
  }
}
