.navigation {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.navigation__list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
}

.navigation__item {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 35px;
  padding-left: 35px;
  border-right: 1px solid fade(#000000, 10%);

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    border-right: none;
  }

  &--logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.navigation__link {
  display: block;
  text-decoration: none;
  color: @text-primary;
  font-weight: 700;
  line-height: 24px;
  font-size: 17px;
}
