.navigation {
  display: none;
}

.navigation__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation__item {
  position: relative;
  box-sizing: border-box;
  padding-left: 46px;
  padding-top: 28px;
  padding-bottom: 26px;
  border: 1px solid #ececec;
  border-left: none;
  border-right: none;
}

.navigation__link {
  font-size: 17px;
  line-height: 25px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.navigation__icon {
  position: absolute;
}
