.presentation {
  margin-bottom: 105px;
}

.presentation__wrapper {
  display: flex;
}

.presentation__video {
  position: relative;
  width: 682px;
  margin-right: auto;
}

.video-button {
  padding: 0;
  width: 101px;
  height: 77px;
  position: absolute;
  background-color: transparent;
  border: none;
  text-align: center;
  left: 299px;
  top: 190px;
}

.presentation__description {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 289px;
  padding: 47px 58px 60px 0;
  background-image: url("../../img/videocamera.svg");
  background-repeat: no-repeat;
  background-position: left top 47px;
}

.presentation__title {
  display: block;
  margin-top: 49px;
  margin-bottom: 27px;
}

.presentation__text {
  display: block;
  .set-font(15px, 30px);
  color: @text-secondary;
  margin-top: 0;
  margin-bottom: auto;
}
