.presentation {
  display: flex;
  flex-direction: column;
  border: 1px solid #ececec;
  margin-bottom: 58px;
}

.presentation__title {
  padding: 21px 13px 26px 91px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  background-image: url("../../img/videocamera.svg");
  background-position: center left 34px;
  background-repeat: no-repeat;
}

.presentation__video {
  position: relative;
}

.presentation__video-button {
  position: absolute;
  border: none;
  background-color: transparent;
}

.presentation__content {
  display: flex;
  flex-direction: column;
  padding: 34px;
}

.presentation__description {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 41px;
  color: #444444;
}

.presentation__button {
  .button;
}
