.site-header__header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-top: 32px;
  padding-bottom: 33px;
}

.site-header__logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  display: block;
  width: 86px;
  height: 35px;
  background-image: url("../img/mishka-logo-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.site-header__menu-button {
  display: block;
  width: 20px;
  height: 14px;
  background-image: url("../img/menu-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}
