.site-footer {
  background-color: @bg-secondary;
}

.site-footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 51px;
  padding-bottom: 58px;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 142px;
}

.socials__item {
  text-decoration: none;
}

.copyright {
  display: flex;
  align-items: center;
  .set-font(19px, 18px);
  font-weight: 700;
}

.copyright__link {
  margin-left: 28px;
  text-decoration: none;
}
