.site-header__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;

  @media (min-width: @width-tablet) {
    .wrapper;
  }
}

.site-header__logo {
  position: absolute;
  left: 50%;
  top: 22px;
  transform: translate(-50%, 0);
  display: block;
  z-index: 3;

  @media (min-width: @width-tablet) {
    left: 49px;
    transform: none;
  }

  @media (min-width: @width-desktop) {
    left: 50%;
    top: 9px;
    transform: translate(-50%, 0);

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.site-header__mobile-header {
  .wrapper;
  display: flex;
  justify-content: flex-end;
  padding-top: 32px;
  padding-bottom: 33px;

  @media (min-width: @width-tablet) {
    display: none;
  }
}

.site-header__menu-button {
  display: block;
  width: 20px;
  height: 14px;
  background-image: url("../img/menu-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;

  &--nojs {
    display: none;
  }

  &--cross {
    margin-top: -3px;
    width: 21px;
    height: 20px;
    background-image: url("../../img/menu-close.svg");
  }
}

.site-header__navigation {
  position: absolute;
  z-index: 2;
  top: 80px;
  width: 100%;
  display: none;
  background-color: rgba(#ffffff, 1);

  &--nojs {
    position: static;
    display: block;
  }

  &--visible {
    display: block;
  }

  @media (min-width: @width-tablet) {
    position: static;
    display: grid;
    grid-template-columns: 1fr min-content auto;
    grid-template-areas:
      ". . utility-nav"
      "main-nav  .  delivary";
  }

  @media (min-width: @width-desktop) {
    grid-template-columns: 420px 1fr auto;
    grid-template-areas:
      "main-nav  .  utility-nav"
      "secondary-nav  .  delivary";
  }
}

.site-header__main-nav {
  grid-area: main-nav;

  @media (min-width: @width-tablet) {
    position: absolute;
    top: calc(100% + 2px);
    display: flex;
    flex-wrap: wrap;
    column-gap: 37px;
    max-width: 420px;
  }

  @media (min-width: @width-desktop) {
    position: static;
    column-gap: 36px;
  }
}

.site-header__utility-nav {
  grid-area: utility-nav;
  position: static;
}

.site-header__secondary-nav {
  grid-area: secondary-nav;
  display: none;

  @media (min-width: @width-desktop) {
    position: absolute;
    top: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 62px;
    max-width: 800px;
  }
}

.site-header__delivary {
  display: none;
  position: absolute;
  top: 100%;
  right: 50px;

  @media (min-width: @width-tablet) {
    display: block;
    grid-area: delivary;
    padding-top: 20px;
    margin: 0;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #444444;
  }
}
