.site-header {
  position: relative;
  background-color: @primary;
}

.site-header__navigation {
  margin: 0;
}

.site-header__logo {
  position: absolute;
  top: 9px;
  left: 50%;
  transform: translate(-50%, 0);
}
