.socials {
  display: flex;
  align-items: center;
  column-gap: 29px;
  justify-content: center;
  padding-left: 0;
  list-style: none;
}

.socials__link {
  text-decoration: none;
  color: #000000;

  &:hover {
    color: #45c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}
