.weekly {
  display: flex;
  flex-direction: column;
  padding-top: 31px;
}

.weekly__product {
  .title;
  margin: 0;
  margin-bottom: 3px;
}

.weekly__title {
  text-transform: uppercase;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #63d1bb;
}

.weekly__description {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #444444;
}

.weekly__params {
  display: grid;
  grid-template-columns: 97px 1fr;
  row-gap: 5px;
  margin-bottom: 28px;
}

.weekly__params-item {
  padding-bottom: 15px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #444444;
  border-bottom: 1px solid #ececec;
}

.weekly__image {
  margin-bottom: 25px;
}

.weekly__price {
  margin-bottom: 25px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #444444;
}

.weekly__button {
  .button;
}
