{% set page = 'catalog' %}

{% extends "layouts/default.html" %}

{% block content %}
  <section class="entry-section">
    <div class="entry-section__wrapper">
      <h1 class="entry-section__title">Вязание на заказ</h1>
    </div>
  </section>
  <section class="catalog">
    <h2 class="visually-hidden">Каталог товаров</h2>
    <article class="catalog__item product-card">
      <a class="product-card__image-wrapper" href="">
        <picture>
          <source media="(min-width: 1150px)" srcset="./img/photo-1-desktop-1x.webp 1x, ./img/photo-1-desktop-2x.webp 2x">
          <source media="(min-width: 768px)" srcset="./img/photo-1-tablet-1x.webp 1x, ./img/photo-1-tablet-2x.webp 2x">
          <source srcset="./img/photo-1-mobile-1x.webp 1x, ./img/photo-1-mobile-2x.webp 2x">
          <source media="(min-width: 1150px)" srcset="./img/photo-1-desktop-1x.jpg 1x, ./img/photo-1-desktop-2x.jpg 2x">
          <source media="(min-width: 768px)" srcset="./img/photo-1-tablet-1x.jpg 1x, ./img/photo-1-tablet-2x.jpg 2x">
          <img class="product-card__image" srcset="./img/photo-1-mobile-1x.jpg 1x, ./img/photo-1-mobile-2x.jpg 2x" alt="">
        </picture>
      </a>
      <div class="product-card__content">
        <div class="product-card__data">
          <h2 class="product-card__title">
            <a class="product-card__link" href="">
              Зайчик-попрыгайчик
            </a>
          </h2>
          <p class="product-card__params">Рост 30 см, вес 200 г</p>
        </div>
        <div class="product-card__controls">
          <span class="product-card__price">1 200 руб.</span>
          <a class="product-card__cart" href="">
            <svg width="21" height="18">
              <use href="./img/sprite.svg#icon-cart">
            </svg>
          </a>
        </div>
      </div>
    </article>
    <article class="catalog__item product-card">
      <a class="product-card__image-wrapper" href="">
        <picture>
          <source media="(min-width: 1150px)" srcset="./img/photo-2-desktop-1x.webp 1x, ./img/photo-2-desktop-2x.webp 2x">
          <source media="(min-width: 768px)" srcset="./img/photo-2-tablet-1x.webp 1x, ./img/photo-2-tablet-2x.webp 2x">
          <source srcset="./img/photo-2-mobile-1x.webp 1x, ./img/photo-2-mobile-2x.webp 2x">
          <source media="(min-width: 1150px)" srcset="./img/photo-2-desktop-1x.jpg 1x, ./img/photo-2-desktop-2x.jpg 2x">
          <source media="(min-width: 768px)" srcset="./img/photo-2-tablet-1x.jpg 1x, ./img/photo-2-tablet-2x.jpg 2x">
          <img class="product-card__image" srcset="./img/photo-2-mobile-1x.jpg 1x, ./img/photo-2-mobile-2x.jpg 2x" alt="">
        </picture>
      </a>
      <div class="product-card__content">
        <div class="product-card__data">
          <h2 class="product-card__title">
            <a class="product-card__link" href="">
              Корзинка для белья
            </a>
          </h2>
          <p class="product-card__params">Диаметр 15 см, высота 10 см</p>
        </div>
        <div class="product-card__controls">
          <span class="product-card__price">690 руб.</span>
          <a class="product-card__cart" href="">
            <svg width="21" height="18">
              <use href="./img/sprite.svg#icon-cart">
            </svg>
          </a>
        </div>
      </div>
    </article>
    <article class="catalog__item product-card">
      <a class="product-card__image-wrapper" href="">
        <picture>
          <source media="(min-width: 1150px)" srcset="./img/photo-3-desktop-1x.webp 1x, ./img/photo-3-desktop-2x.webp 2x">
          <source media="(min-width: 768px)" srcset="./img/photo-3-tablet-1x.webp 1x, ./img/photo-3-tablet-2x.webp 2x">
          <source srcset="./img/photo-3-mobile-1x.webp 1x, ./img/photo-3-mobile-2x.webp 2x">
          <source media="(min-width: 1150px)" srcset="./img/photo-3-desktop-1x.jpg 1x, ./img/photo-3-desktop-2x.jpg 2x">
          <source media="(min-width: 768px)" srcset="./img/photo-3-tablet-1x.jpg 1x, ./img/photo-3-tablet-2x.jpg 2x">
          <img class="product-card__image" srcset="./img/photo-3-mobile-1x.jpg 1x, ./img/photo-3-mobile-2x.jpg 2x" alt="">
        </picture>
      </a>
      <div class="product-card__content">
        <div class="product-card__data">
          <h2 class="product-card__title">
            <a class="product-card__link" href="">
              Большая корзинка для игрушек
            </a>
          </h2>
          <p class="product-card__params">Диаметр 30 см, высота 30 см</p>
        </div>
        <div class="product-card__controls">
          <span class="product-card__price">1 500 руб.</span>
          <a class="product-card__cart" href="">
            <svg width="21" height="18">
              <use href="./img/sprite.svg#icon-cart">
            </svg>
          </a>
        </div>
      </div>
    </article>
  </section>
  <aside class="presentation">
    <div class="presentation__wrapper">
      <h2 class="presentation__title">Процесс производства</h2>
      <div class="presentation__player">
        <button class="presentation__player-button">
          <img src="./img/play.svg" alt="">
          <span class="visually-hidden">Начать просмотр видео</span>
        </button>
        <video class="presentation__video" autoplay>
          <source src="#" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
        </video>
      </div>
      <div class="presentation__content">
        <p class="presentation__description">По просьбам наших любимых фолловеров мы сняли для вас подробное видео о том, как появляются наши товары.</p>
        <button class="presentation__button">Сделать заказ</button>
      </div>
    </div>
  </aside>
{% endblock %}
