{% set page = 'form' %}

{% extends "layouts/default.html" %}

{% block content %}
      <section class="entry-section">
        <div class="entry-section__wrapper">
          <h1 class="entry-section__title">Вязание на заказ</h1>
        </div>
      </section>

      <form class="form" method="post" action="https://echo.htmlacademy.ru/">
        <p class="form__description">Мы будем рады воплотить в жизнь ваши пожелания! Заполните простую форму заказа и мы свяжемся с вами, чтобы уточнить детали.</p>
        <div class="form__category">
          <fieldset class="form__category-wrapper">
            <h2 class="form__category-title">
              <span class="form__category-name">Тип</span>
            </h2>
            <div class="form__category-content">
              <label class="form__label">
                <input class="form__input visually-hidden" type="radio" name="product-tipe" value="Аксессуар для интерьера" checked>
                <span class="form__marker form__marker--radio"></span>
                Аксессуар для интерьера
              </label>
              <label class="form__label">
                <input class="form__input visually-hidden" type="radio" name="product-tipe" value="Детская игрушка">
                <span class="form__marker form__marker--radio"></span>
                Детская игрушка
              </label>
            </div>
          </fieldset>
        </div>
        <div class="form__category">
          <fieldset class="form__category-wrapper ">
            <h2 class="form__category-title">
              <span class="form__category-name">Цвет</span>
            </h2>
            <div class="form__category-content form__category-content--transformed">
              <label class="form__label">
                <input class="form__input visually-hidden" type="checkbox" name="color-white">
                <span class="form__marker"></span>
                Белый
              </label>
              <label class="form__label">
                <input class="form__input visually-hidden" type="checkbox" name="color-grey">
                <span class="form__marker"></span>
                Серый
              </label>
              <label class="form__label">
                <input class="form__input visually-hidden" type="checkbox" name="color-tiffany">
                <span class="form__marker"></span>
                Тиффани
              </label>
              <label class="form__label">
                <input class="form__input visually-hidden" type="checkbox" name="color-black">
                <span class="form__marker"></span>
                Черный
              </label>
              <label class="form__label">
                <input class="form__input visually-hidden" type="checkbox" name="color-pink">
                <span class="form__marker"></span>
                Розовый
              </label>
              <label class="form__label">
                <input class="form__input visually-hidden" type="checkbox" name="color-orange">
                <span class="form__marker"></span>
                Оранжевый
              </label>
            </div>
          </fieldset>
        </div>
        <div class="form__category">
          <fieldset class="form__category-wrapper">
            <h2 class="form__category-title">
              <span class="form__category-name">Фио</span>
            </h2>
            <div class="form__category-content">
              <div class="form__item">
                <label class="form__label form__label--no-padding" for="user-name">Имя:</label>
                <input class="form__input-text" type="text" placeholder="Введите ваше имя*" id="user-name" name="user-name" required>
              </div>
              <div class="form__item">
                <label class="form__label form__label--no-padding" for="user-sername"> Фамилия:</label>
                <input class="form__input-text" type="text" placeholder="Укажите фамилию*" id="user-sername" name="user-sername" required>
              </div>
              <div class="form__item">
                <label class="form__label form__label--no-padding" for="user-second-name">Отчество:</label>
                <input class="form__input-text" type="text" placeholder="Отчество, если желаете" id="user-second-name" name="user-second-name" required>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="form__category">
          <div class="form__category-wrapper">
            <label class="form__category-title" for="phone">
              <span class="form__category-name">Тел</span>
            </label>
            <div class="form__input-wrapper form__input-wrapper--phone">
              <input class="form__input-text form__input-text--phone" type="tel" id="phone" name="user-phone" placeholder="+7 ХХХ ХХХ ХХ ХХ*">
              <svg class="form__input-icon" width="25" height="24">
                <use href="./img/sprite.svg#icon-phone">
              </svg>
            </div>
          </div>
          <div class="form__category-wrapper">
            <label class="form__category-title" for="email">
              <span class="form__category-name">E-mail</span>
            </label>
            <div class="form__input-wrapper form__input-wrapper--email">
              <input class="form__input-text form__input-text--mail" type="email" id="email" name="user-email" placeholder="Ваш Email*">
              <svg class="form__input-icon" width="32" height="21">
                <use href="./img/sprite.svg#icon-email">
              </svg>
            </div>
          </div>
        </div>
        <div class="form__category">
          <div class="form__category-wrapper">
            <label class="form__category-title" for="comment">
              <span class="form__category-name">Доп</span>
            </label>
            <textarea class="form__input-textfield" id="comment" name="user-comment" placeholder="Опишите все ваши пожелания к заказу"></textarea>
          </div>
        </div>
        <div class="form__controls">
          <div class="form__category-wrapper">
            <span class="form__requirements">*Поля обязательны для заполнения</span>
            <button class="form__button" type="submit">Отправить</button>
          </div>
        </div>
      </form>
{% endblock %}